.column-1 {
    width: 50vw;
    height: auto;
    float: left;
    border: solid;
    border-radius: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color:wheat;
}
.column-2 {
    width: 50vw;
    height: auto;
    float: right;
    border: solid;
    border-radius: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.row {
    display: flex;
}
#printmaking-exhibit-video {
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
    font-family: sans-serif;
    font-size:large;
}
#printmaking-process {
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
    font-family: sans-serif;
    font-size: large;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.georgia-printmaking {
    text-align: center;
    font-family: sans-serif;
}
#video-link {
    text-align: center;
    font-family: sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 20vw;
    margin-right: 20vw;
    border: solid;
    border-radius:0.25em;
}
#video-link:hover {
    background-color:lightpink;
}
.footer {
    font-family: sans-serif;
}
body {
    background-color: mistyrose;
}
td {
    padding-top:0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: sans-serif;
}
.row {
    display: flex;
}
ul {
    list-style-type:disc;
}
h1 {
    padding-left: 30vw;
    font-family: sans-serif;
}
.navlink {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.navlink:hover {
    background-color:lightpink;
}
.features:hover {
    background-color:lightpink;
}
#resume {
    text-align: center;
    font-family: sans-serif;
    font-size:smaller;
}
.features {
    border-radius: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#citation {
    font-family: sans-serif;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: smaller;
}